@import './helpers/media-size.scss';
.hidden{
   display: none;
}
.block{
   display: block;
}
.flex{
   display: flex;
}
.grid{
   display: grid;
}
.win{
   background-color:var(--win-color);
}
.pointer{
   cursor: pointer;
}
.x{
   color: var(--sky-color);
   font-weight:800;
   font-size:3rem;
}
.o{
   color: var(--gold-color);
   font-weight:800;
   font-size:3rem;
}
.active-btn{
   background-color: var(--gray-color);
   color:var(--bg-color);
   color: red;
}
.container{
   margin:0 auto;
  }
@media($mobileScreen){
   .container{
      width:90%;
   }
}
@media(min-width:1200px){
  .container{
    width:30%;

  }
}
